/* Text and fonts */
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

h3{
    margin-top: 5px;
}

h4 {
	text-transform: uppercase;
}

p{
	font-family: Georgia,Serif;
	margin: 0 0 20px;
}


