.content-info { }

footer form{
	font-family: Georgia,Serif;
}

footer button{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 110%;
}

footer a {
    color: #000;
    font-family: Georgia,serif;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
}

footer a:hover, footer a:visited, footer a:active{
	color: #000;
}
