// Content wrapper
.wrap { }

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
  font-family: "Cabin","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}

.wrap.container {
	background-color: #fff;
	z-index: 10;
	position: relative;
}

.author{
	color: #999;
	font-size: 85%;
}

.author span{
	font-weight: bold;
}

/*inner pages*/
#author-box{
	padding: 10px 0;
}

#author-box img{
	width: 40px;
	height: auto;
	float: left;
	margin-right: 10px;
}

#author-box .author{
	float: right;
    width: 85%;
    float: left;
}

#inner-page img{ 
	clear: both;
}

#related{
	margin-bottom: 20px;
	padding-top: 20px;
}

#related img{
	margin-bottom: 10px;
}

#related > div{
	border-top: 2px solid #e3e3e3;
}

#related div > div{
	padding-left: 0;
}

#main-image img{
	margin-bottom: 15px;
	width: 100%;
	height: auto;
}

#list-articles{
	margin-bottom: 15px;
	position: relative;
}

#list-articles .description {
    background-color: #ffdb66;
    top: 100px;
    left: 15px;
    padding: 10px;
    position: absolute;
    width: 250px;
}

#list-articles.description .label{
	padding-left: 0;
}

img { max-width: 100%; height: auto; }

.entry-content img, 
.entry-content iframe, 
.entry-content object, 
.entry-content embed {
        max-width: 100%;
}

/*media queries*/

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}
