// Content wrapper
.wrap { }

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
  font-family: "Cabin","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}

.wrap.container {
	background-color: #fff;
	z-index: 10;
}

img { max-width: 100%; height: auto; }


//Autore
p.author-info{
  color: #999;
  font-size: 85%;

}

p.author-info a{
  font-weight: bold;
  text-transform: uppercase;
  color: #A01D21;
}

.quando{
  font-family: Georgia,Serif;
  color: #a01d21;
  font-style: italic;
}


.entry-content img, 
.entry-content iframe, 
.entry-content object, 
.entry-content embed {
        max-width: 100%;
}

//media queries

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}
