.banner { }

/* Menù principale */
ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

.navbar {
	border: none;
	padding: 10px 0;
}

.navbar-brand, .navbar-brand:active {
	padding:0 15px;
	outline: none;
}

.navbar .navbar-header h4 {
	font-size: 16px;
	line-height: 22px;
	margin: 0 15px;
	text-transform: uppercase;
}

#primary-menu {
	padding:0;
	margin-bottom: 10px;
}

#primary-menu .navbar-nav > li > a {
	color: #000;
	text-transform: uppercase;
    padding-bottom: 0;
    padding-top: 30px;
}

/* Definizione */

#definition{
	min-height: 245px;
	background: url(../img/decrescita-illustrazione-menu.png) center bottom no-repeat;
	background-color: #E5E3E2;
}

#definition h2{
	color: #a01d21;
	font-weight: bold;
	padding-left: 10px;
}

#definition h2 span{
	font-family: Georgia,Serif;
	color: #000;
	font-weight: normal;
}

#definition h2 span a{
	color: #000;
	border-bottom: 3px solid #a01d21;
}

#definition h2 span a:hover,
#definition h2 span a:active{
	text-decoration: none;
}

/* Menù categorie */
#menu-categorie{
	background-color: #d8d8d1;
}

#menu-categorie > li{
	border-right: 2px solid #000;
	padding: 0px 8px;
}

#menu-categorie > li:last-child {
	border-right: none;
}

#menu-categorie li a{
    padding: 0 5px;
    text-decoration: none;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

#menu-categorie a:hover,
#menu-categorie a:active{
	background-color: #fcb421;   
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px; 
    color: #fff;
}

#menu-categorie .active > a{
	background-color: #fcb421;   
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px; 
    color: #fff;
}

#menu-categorie ul.dropdown-menu {
	background-color: #d8d8d1;
	border: none;
}

#menu-categorie ul.dropdown-menu li{
	padding: 0 8px;
	margin-bottom: 3px;
}

#menu-categorie ul.dropdown-menu li a{
	color: #000;
}

#menu-categorie ul.dropdown-menu li a:hover,
#menu-categorie ul.dropdown-menu .active > a{
	display:inline-block;
	color:#fff;
}

/* Menù temi */
#menu-temi{
	font-family: Georgia,Serif;
	background-color: #EBEBE7;
	margin-bottom: 15px;
}

#menu-temi .navbar-nav{
	float: none;
}

#menu-temi ul li a{
	color: #000;
	font-size: 110%;
    font-weight: normal;
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px; 
	margin-right: 10px;
	padding: 2px 5px;
	margin-bottom: 5px;
}

#menu-temi ul li a:hover,
#menu-temi ul li a:active{
	color: #fff;
	background-color: #a01d21;
	border-radius: 6px;
	-webkit-border-radius: 6px;  
    -moz-border-radius: 6px; 
}


