.banner { }

#hairs {
	padding-top:15px;
	padding-bottom:15px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

.navbar {
	border: none;
	padding: 10px 0;
	min-height: 0;
}

.logo-decrescita, .logo-decrescita:active {
	padding: 0;
	margin: 0 0 5px;
	outline: none;
	display: block;
	float: none;
	height: auto;
}
.descrizione {
	margin: 0;
}

.navbar-brand {
	font-size: 16px;
	line-height:30px;
	text-transform: uppercase;
	padding: 0 15px;
	height:auto;
}

.navbar-toggle {
	margin: 0 15px 0 0;
}

#menu-strumenti {
	padding: 0 15px 0 0;
}

#menu-strumenti ul > li > a {
	//se serve cambiare qualcosa
}

// Menù istituzionale  

#menu-istituzionale {
	padding:0;
}

#menu-istituzionale .navbar-nav > li:hover,
#menu-istituzionale .navbar-nav > li.active {
	background-color: #eee;
}

#menu-istituzionale .navbar-nav > li > a {
	color: #000;
	text-transform: uppercase;
    padding-bottom: 0;
    padding-top: 10px;
    margin-bottom: 5px;
    background-color: #fff;
}

#menu-istituzionale > li > .dropdown-menu {
	border: none;
	border-top: 5px solid #eee;
	border-bottom: 5px solid #eee;
	margin-top: -5px;
}

//Definizione

#definition{
	min-height: 245px;
	background: url(../img/decrescita-illustrazione-menu.png) center bottom no-repeat;
	background-color: #E5E3E2;
}

#definition h2 {
	color: #a01d21;
	font-weight: bold;
}

#definition h2 span {
	font-family: Georgia,Serif;
	color: #000;
	font-weight: normal;
}

#definition h2 span a {
	color: #000;
	border-bottom: 3px solid #a01d21;
}

#definition h2 span a:hover,
#definition h2 span a:active {
	text-decoration: none;
}

//Menù categorie

#menu-categorie {
	background-color: #d8d8d1;
}

#menu-categorie ul.nav > li {
	border-right: 2px solid #000;
	padding: 0px 8px;
}
#menu-categorie ul.nav > li:first-child {
	padding-left: 0;
}

#menu-categorie ul.nav > li:last-child {
	border-right: none;
}

#menu-categorie li a {
    padding: 0 5px;
    text-decoration: none;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	line-height: 30px;
}

#menu-categorie a:hover,
#menu-categorie a:active {
	background-color: #fcb421;   
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px; 
    color: #fff;
}

#menu-categorie .active > a{
	background-color: #fcb421;   
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px; 
    color: #fff;
}

#menu-categorie ul.dropdown-menu {
	background-color: #d8d8d1;
	border: none;
}

#menu-categorie ul.dropdown-menu li{
	padding: 0 8px;
	margin-bottom: 3px;
}

#menu-categorie ul.dropdown-menu li a{
	color: #000;
}

#menu-categorie ul.dropdown-menu li a:hover,
#menu-categorie ul.dropdown-menu .active > a{
	display:inline-block;
	color:#fff;
}

//Menù temi
#menu-temi{
	font-family: Georgia,Serif;
	background-color: #EBEBE7;
	margin-bottom: 15px;
}

#menu-temi .navbar-nav{
	float: none;
}

#menu-temi a{
	color: #a01d21;
	font-size: 110%;
    font-weight: normal;
    line-height: 30px;
    background-color: transparent;
    border-radius: 6px;
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px; 
	padding: 0 2px;
}

#menu-temi a:hover,
#menu-temi a:active{
	color: #fff;
	background-color: #a01d21;
	border-radius: 6px;
	-webkit-border-radius: 6px;  
    -moz-border-radius: 6px; 
}


