.banner { }

/* Menù principale */
ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

#primary-menu{
	height: 70px;
	padding: 10px 20px;
}

#primary-menu .navbar-nav > li > a {
	color: #000;
	text-transform: uppercase;
    padding-bottom: 0;
    padding-top: 30px;
}

.navbar-brand, .navbar-brand:active {
	background: url(../img/logo-decrescita.png) left top no-repeat;
	width: 277px;
	height: 50px;
	position: relative;
	padding:0;
	outline: none;
}

/* Definizione */

#definition{
	min-height: 245px;
	background: url(../img/decrescita-illustrazione-menu.png) center bottom no-repeat;
	background-color: #E5E3E2;
}

#definition h2{
	color: #a01d21;
	font-weight: bold;
	padding-left: 10px;
}

#definition h2 span{
	font-family: Georgia,Serif;
	color: #000;
	font-weight: normal;
}

#definition h2 span a{
	color: #000;
	border-bottom: 3px solid #a01d21;
}

#definition h2 span a:hover,
#definition h2 span a:active{
	text-decoration: none;
}

/* Menù categorie */
#menu-categorie{
	background-color: #d8d8d1;
	padding: 5px 0;
}

#menu-categorie ul{
	margin-top: 10px;
}

#menu-categorie ul li{
	border-right: 2px solid #000;
	padding: 0px 8px;
}

#menu-categorie ul > li:last-child {
	border-right: none;
}

#menu-categorie ul li a{
    padding: 0 5px;
    text-decoration: none;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

#menu-categorie a:hover,
#menu-categorie a:active{
	background-color: #fcb421;   
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px; 
    color: #fff;
}

/* Menù temi */
#menu-temi{
	font-family: Georgia,Serif;
	background-color: #EBEBE7;
	margin-bottom: 15px;
}

#menu-temi ul{
	padding: 10px 0px;
}

#menu-temi h4{
	font-size: 100%;
	padding: 5px 10px 0px 0px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
}

#menu-temi ul li a{
	color: #000;
	font-size: 110%;
    font-weight: normal;
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px; 
	margin-right: 10px;
	padding: 2px 5px;
	margin-bottom: 5px;
}

#menu-temi ul li a:hover,
#menu-temi ul li a:active{
	color: #fff;
	background-color: #a01d21;
	border-radius: 6px;
	-webkit-border-radius: 6px;  
    -moz-border-radius: 6px; 
}


