.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.single article {
	margin:20px 0;
}

article header .categories a.label{
	font-size: 85%;
	font-weight: bold;
	font-family: "Cabin","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
	color: #fcb421;
	text-transform: uppercase;
	padding: 0 5px;
}

article header .categories a.label:hover,
article header .categories a.label:active{
	background-color: #fcb421;
	color: #fff;
}

article header .entry-title a{
		color: #000;
	}

article.post h2{
	margin-top: 10px;
}

article .wp-post-image{
	margin: 0 10px 10px 0;
}

article footer{
	background-color: #fff;
	border-bottom: 1px solid #f3f3f3;
	margin: 0 0 20px 0;
	padding: 0 10px 0 0;
}

footer .temi .label{
	font-size: 120%;
	font-weight: normal;
	color: #000;
	border: 1px solid #e3e3e3;
	padding: 0 5px;
	text-transform: lowercase;
	line-height: 1.7em;
}

footer .temi a.label:hover,
footer .temi a.label:active{
	color: #fff;
	border: 1px solid #A01D21;
	background-color: #A01D21;
}

footer p .fn{
	color: #999;
	font-weight: bold;
	font-family: "Cabin","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}

//Index categorie
.category  h1{
	padding: 5px 20px;
	background-color: #F8F8F8;
	margin-bottom: 0px;
}

.category  #taxonomy_description{
	padding: 15px 20px;
	background-color: #F8F8F8;
}

.category  #taxonomy_description p{
	margin: 0px;
}

//Index temi
.tax-temi h1{
	padding: 5px 20px;
	background-color: #F8F8F8;
	margin-bottom: 0px;
}

.tax-temi #taxonomy_description{
	padding: 15px 20px;
	background-color: #F8F8F8;
}

.tax-temi #taxonomy_description p{
	margin: 0px;
}

//Index persone
.tax-persone h1{
	padding: 5px 20px;
	background-color: #F8F8F8;
	margin-bottom: 0px;
}

.tax-persone #taxonomy_description{
	padding: 15px 20px;
	background-color: #F8F8F8;
}

.tax-persone #taxonomy_description p{
	margin: 0px;
}

.tax-persone #taxonomy_description img{
	border-radius: 100px;
    -webkit-border-radius: 100px;  
    -moz-border-radius: 100px;
    display: block;
	float: left; 
	margin-right: 15px;
}

.tax-persone #taxonomy_description article{
	clear: left;
}

//Index tag
.tag h1{
	padding: 5px 20px;
	background-color: #F8F8F8;
	margin-bottom: 0px;
}

.tag #taxonomy_description{
	padding: 15px 20px;
	background-color: #F8F8F8;
}

.tag #taxonomy_description p{
	margin: 0px;
}

//Inner articles
.single article footer{
	background-color: #fff;
	border-bottom: none;
	margin: 10px 0 10px 0;
	padding: 0 10px 0 0;
}

//Autore
p.author-info{
	color: #999;
	font-size: 85%;

}

p.author-info a{
	font-weight: bold;
	font-family: "Cabin","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
	text-transform: uppercase;
	color: #A01D21;
}


