.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

article header .categories a.label{
	font-size: 85%;
	font-weight: bold;
	font-family: "Cabin","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
	color: #fcb421;
	text-transform: uppercase;
	padding: 0 5px;
}

article header .categories a.label:hover,
article header .categories a.label:active{
	background-color: #fcb421;
	color: #fff;
}


article.post h2{
	margin-top: 10px;
}

article .wp-post-image{
	margin-bottom: 20px;
}

div#allegati ul{
	padding-left: 15px;
}

div#allegati ul li{
	list-style: none;
}

div#allegati h4{
	text-transform: uppercase;
	color: #A01D21;
}

.glyphicon-file {
	color: #D8D8D1;
	margin-right: 5px;
}

.file-size{
	background-color: #e3e3e3;
	padding: 3px;

}

article .author{
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: 20px;
}

article footer{
	background-color: #fff;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

footer .temi .label{
	font-size: 120%;
	font-weight: normal;
	color: #000;
	border: 1px solid #e3e3e3;
	padding: 0 5px;
	text-transform: lowercase;
}

footer .temi a.label:hover,
footer .temi a.label:active{
	color: #fff;
	border: 1px solid #A01D21;
	background-color: #A01D21;
}



