.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

article footer{
	background-color: #fff;
}

.label-categoria{
	font-size: 90%;
	font-weight: normal;
	font-family: "Cabin","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
	color: #fff;
	text-transform: uppercase;
}

