<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Decrescita</title>

    <link href="./css/bootstrap.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">
    <link href="type.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="page-container" class="container">
      <div id="primary-menu" class="row navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-hide" href="#">descrescita</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ASSOCIAZIONE<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Associazione per la Decrescita</a></li>
                <li><a href="#">I Soci</a></li>
                <li><a href="#">Rete</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">LE SCUOLE<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Scuola</a></li>
                <li><a href="#">Scuole Stabili</a></li>
                <li><a href="#">Storico delle Scuole</a></li>
              </ul>
            </li>
            <li><a href="#">VENEZIA 2012</a></li>
            <li><a href="#">MATERIALI</a></li>
            <li><a href="#">PARTECIPA</a></li>
            <li><a href="#">AREA STAMPA</a></li>
            <li><a href="#">CONTATTI</a></li>
          </ul>
        </div>
      </div>
      <div id="tools-menu" class="">
        <div class="right">
          <ul class="nav nav-pills nav-stacked affix-top" data-spy="affix">
            <li><a href="#"><img src="./img/icona-cerca.png" width="25" title="Cerca" alt="Cerca"></a></li>
            <li><a href="#"><img src="./img/icona-mappa.png" width="25" title="Mappa del sito" alt="Mappa del sito"></a></li>
            <li><a href="#"><img src="./img/icona-personaggi.png" width="25" title="Personaggi" alt="Personaggi"></a></li>
            <li><a href="#"><img src="./img/icona-glossario.png" width="25" title="Glossario" alt="Glossario"></a></li>
          </ul>
        </div>
      </div>
      <div id="definition" class="row">
          <div class="col-md-12">
              <h2>decrescita <span><em>s. f. </em><a href="">Svolta riflessiva</a> nel percorso dell’umanità che inaugura la ricerca relazionale, personale e collettiva di una <a href="">qualità della vita</a> sganciata dall’ossessione per la crescita e dalla corsa alla produzione, al possesso e al consumo di merci;</span>
              </h2>
          </div>
      </div>
      <div id="secondary-menu" class="row navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" class="label">EVENTI</a></li>
            <li><a href="#">CONFERENZE</a></li>
            <li><a href="#">ARTICOLI</a></li>
            <li><a href="#">FOTOSTORIE</a></li>
            <li><a href="#">VIDEO</a></li>
            <li><a href="#">PUBBLICAZIONI</a></li>
            <li><a href="#">GRUPPI DI LAVORO</a></li>
            <li><a href="#">MEDIATECA</a></li>
          </ul>
        </div>
      </div>
      <div id="tags" class="row">
          <div class="col-md-12">
            <ul class="list-unstyled list-inline">
              <li><h4>TEMI:</h4></li>
              <li><a href="#" class="label">bene comune</a></li>
              <li><a href="#" class="label">ben vivere</a></li>
              <li><a href="#" class="label">buone pratiche</a></li>
              <li><a href="#" class="label">democrazia</a></li>
            </ul>
          </div>
      </div>
      <div id="sponsored" class="row">
        <div class="col-md-8">
            <div class="description">
              <a href="#" class="label">ARTICOLI</a>
              <h4>Maschile plurale, riunione nazionale a Roma</h4>
              <p class="author">di Marco Deriu</p>
            </div>
            <img src="img/image-top-1.png">
        </div>
        <div class="col-md-4">
            <div class="description">
              <a href="#" class="label">PUBBLICAZIONI</a>
              <h4>Le vie di fuga dall’annunciata apocalisse, viste da Bonaiuti</h4>
              <p class="author">di Marco Deriu</p>
            </div>
            <img src="img/image-top-2.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="articolo">
            <a href="#" class="label label-categoria">ARTICOLI</a>
            <h3>Il movimento NO TAV crea nuovi immaginari</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p class="author">Donec id elit non mi <span>Porta Gravida</span> at eget metus.</p>
          </div>
          <div class="video media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/video-prova-img.png" alt="video-prova">
            </a>
            <div class="media-body">
              <a href="#">VIDEO</a>
              <h3 class="media-heading">Media heading</h3>
            </div>
          </div>
          <div class="mediateca">
            <a href="#" class="label label-categoria">MEDIATECA</a>
            <h3>Il Parco Nazionale… delle discariche</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p class="author">Donec id elit non mi <span>Porta Gravida</span> at eget metus.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="row" id="box-venezia">
                <h2><mark>Venezia 2012</mark></h2>
            </div>
            <div class="row" id="eventi-home">
                  <h3>I prossimi eventi</h3>
                  <ul class="list-unstyled">
                    <li>
                      <em>Parma, 12 giugno 2014</em>
                      <h4><a href="#">Nome dell’evento</a></h4>
                      <p>In una terra lontana, dietro le montagne
                        Parole, lontani dalle terre di Vocalia e
                        Consonantia, vivono i testi casuali.</p>
                    </li>
                    <li>
                      <em>Parma, 12 giugno 2014</em>
                      <h4><a href="#">Nome dell’evento</a></h4>
                      <p>In una terra lontana, dietro le montagne
                        Parole, lontani dalle terre di Vocalia e
                        Consonantia, vivono i testi casuali.</p>
                    </li>
                  </ul>
            </div>
            <div class="row" id="pubblicazioni-home">
                <h2><mark>ultima pubblicazione</mark></h2>
            </div>
            <div class="row" id="in-evidenza-home">
                <h3>elementi in evidenza</h3>
                <h4>Titolo titolo titolo</h4>
                <p>In una terra lontana, dietro le montagne
                  Parole, lontani dalle terre di Vocalia e
                  xConsonantia, vivono i testi casuali.</p>
            </div>
            <div class="row" id="ultime-notizie-home">
                <h3>Notizie recenti</h3>
                  <ul>
                    <li><a href="#">Le vie di fuga dall’annunciata apocalisse</a></li>
                    <li><a href="#">Le vie di fuga dall’annunciata apocalisse</a></li>
                    <li><a href="#">Le vie di fuga dall’annunciata apocalisse</a></li>
                  </ul>
            </div>
          </div>
       </div>
        <div class="col-md-2">
          <div class="container">
            <div class="row" id="glossario">
                <h4>GLOSSARIO</h4>
                <a>agricoltura sostenibile</a>
                <p>anche detta ecocompatibile o integrata, è quella che, oltre a produrre alimenti e altri prodotti agricoli, è anche: economicamente vantaggiosa per gli agricoltori, rispettosa dell’ambiente e socialmente giusta.</p>
            </div>
            <div class="row" id="persone">
                <h4>PERSONE</h4>
                <img src="img/persone-prova.png"/>
                <a>Ivan Illich</a>
                <p>(Vienna, 4 settembre 1926 – Brema, 2 dicembre 2002) è stato uno scrittore, filosofo, pedagogista e teologo austriaco. Viene però più spesso ricordato come libero pensatore, capace di uscire da qualsiasi schema</p>
            </div>
            <div class="row" id="link">
                <h4>LINK</h4>
                  <ul class="list-unstyled">
                      <li>
                        <a href="#">Italiane</a>
                        <ul class="list-unstyled">
                          <li><a href="#">Rete Semi Rurali</a></li>
                          <li><a href="#">La Rete Nazionale per il Cohousing</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">Blogs</a>
                      </li>
                      <li>
                        <a href="#">Internazionale</a>
                      </li>
                      <li>
                        <a href="#">Ambiente</a>
                      </li>
                      <li>
                        <a href="#">Stampa on-line</a>
                      </li>
                  </ul>
          </div>
        </div>
      </div>
    </div>
      <footer class="row">
        <div class="col-md-3">
          <h4>L'ASSOCIAZIONE</h4>
          <p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
        </div>
        <div class="col-md-3">
          <h4>NEWSLETTER</h4>
          <form role="form">
            <div class="form-group input-group-sm">
              <input type="name" class="form-control" id="#">
              <label for="#">nome</label>
            </div>
            <div class="form-group input-group-sm">
              <input type="email" class="form-control" id="#">
              <label for="#">e mail</label>
            </div>
            <button type="submit">Iscriviti ></button>
          </form>
        </div>
        <div class="col-md-6">
          <h4>DESCRESCITA NEL MONDO</h4>
          <img src="img/cartina.png"/>
        </div>
      </footer>
  </div>
  <div class="container">
    <div class="row">  
      <div class="col-md-12">
        <p><strong>Associazione per la decrescita </strong>...In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali...</p>
      </div> 
    </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
