/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
}

#page-container {
	background-color: #fff;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-brand{
	background: url(img/logo-decrescita.png) left top no-repeat;
	width: 277px;
	height: 50px;
}

#primary-menu{
	height: 70px;
	padding: 10px 20px;
}


#page-container{
	background-color: #fff;
	position: relative;
}


#definition{
	min-height: 245px;
	background: url(img/decrescita-illustrazione-menu.png) center bottom no-repeat;
	background-color: #E5E3E2;
}

#definition h2{
	padding-left: 10px;
}

#definition h2 span a{
	border-bottom: 3px solid #a01d21;
}

#definition h2 span a:hover,
#definition h2 span a:active{
	text-decoration: none;
}

#secondary-menu{
	background-color: #d8d8d1;
	padding: 5px 0;
}

#secondary-menu ul li a{
	display: block;
    padding: 0 15px;
    margin: 10px 0;
    line-height: 20px;
    text-decoration: none;
    border-right: 2px solid #000;

}

#secondary-menu ul > li:last-child a{
	 border-right: none;
}

#tags{
	background-color: #EBEBE7;
	margin-bottom: 20px;
}

#tags .label-temi{
	background-color: #fff;
}

#tags a:hover .label-temi,
#tags a:active .label-temi{
	background-color: #9F1C20;
}



.label-categoria{
	background-color: #fcb421;
}

.video{
	background-color: #cdc8bf;
}

.mediateca{
	border-left: 10px solid #fecd46;
	padding-left: 15px;
}

#box-venezia,
#eventi-home,
#pubblicazioni-home,
#in-evidenza-home{
	background-color: #cdc8bf;
}

#eventi-home ul{
	margin: 0;
	padding: 0;
}

#ultime-notizie-home ul{
	margin: :0;
	padding-left: 15px;
}

footer{
	background-color: #ecedec;
}

/*scaffolding*/

.placeholder{
	background-color: #fd8a25;
	height: 100px;
}

.placeholder-video{
	background-color: #fd8a25;
	height: 150px;
	width: 280px;
}

/**
* menu tools
*/

/*TODO: fix position on resizing window at @mediaquery px limit dimensions*/
#tools-menu .right {
	float: right;
}

#tools-menu ul {
	width:60px;
}
#tools-menu li {
	width:60px;
	height:60px;
	margin-bottom:0;
}
#tools-menu li a {
	width:60px;
	height:60px;
	background-color: #ffcf22;
	margin:0;
	padding:15px;
}

