/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
}

#page-container {
	background-color: #fff;
}

.navbar{
	margin-bottom: 0px;
}

#page-container{
	background-color: #fff;
	position: relative;
}


#definition{
	min-height: 250px;
	background: url(img/decrescita-illustrazione-menu.png) center bottom no-repeat;
	background-color: #e0e0dd;
}

#definition h2{
	padding-left: 10px;
}

#secondary-menu{
	background-color: #d8d8d1;
}

#tags{
	background-color: #EBEBE7;
	margin-bottom: 20px;
}

#tags ul li{
	list-style: none;
}

.label-categoria{
	background-color: #fcb421;
}

.video{
	background-color: #cdc8bf;
}

.mediateca{
	border-left: 8px solid #fecd46;
	padding-left: 15px;
}

#box-venezia,
#eventi-home,
#pubblicazioni-home,
#in-evidenza-home{
	background-color: #cdc8bf;
}

#eventi-home ul{
	margin: 0;
	padding: 0;
}

#eventi-home ul li{
	list-style: none;
}

#ultime-notizie-home ul{
	margin: :0;
	padding-left: 15px;
}

footer{
	background-color: #ecedec;
}

/*scaffolding*/

.placeholder{
	background-color: #fd8a25;
	height: 100px;
}

.placeholder-video{
	background-color: #fd8a25;
	height: 150px;
	width: 280px;
}

/**
* menu tools
*/

/*TODO: fix position on resizing window at @mediaquery px limit dimensions*/
#tools-menu .right {
	float: right;
}

#tools-menu ul {
	width:60px;
}
#tools-menu li {
	width:60px;
	height:60px;
	margin-bottom:0;
}
#tools-menu li a {
	width:60px;
	height:60px;
	background-color: #ffcf22;
	margin:0;
	padding:15px;
}

