/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
}

#page-container {
	background-color: #fff;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-brand{
	background: url(img/logo-decrescita.png) left top no-repeat;
	width: 277px;
	height: 50px;
}

#primary-menu{
	height: 70px;
	padding: 10px 20px;
}

#page-container{
	background-color: #fff;
	position: relative;
}


#definition{
	min-height: 245px;
	background: url(img/decrescita-illustrazione-menu.png) center bottom no-repeat;
	background-color: #E5E3E2;
}

#definition h2{
	padding-left: 10px;
}

#definition h2 span a{
	border-bottom: 3px solid #a01d21;
}

#definition h2 span a:hover,
#definition h2 span a:active{
	text-decoration: none;
}

#secondary-menu{
	background-color: #d8d8d1;
	padding: 5px 0;
}

#secondary-menu ul{
	margin-top: 10px;
}

#secondary-menu ul li{
	padding: 0px 8px;
	border-right: 2px solid #000;
}

#secondary-menu ul > li:last-child {
	 border-right: none;
}

#secondary-menu ul li a{
    padding: 0 5px;
    text-decoration: none;

}

#secondary-menu a:hover,
#secondary-menu a:active{
	background-color: #fcb421;   
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px; 
}

#tags{
	background-color: #EBEBE7;
	margin-bottom: 20px;
}

#tags a.label{
	background-color: #fff;
	padding:0 5px;
}

#tags a.label:hover,
#tags a.label:active{
	background-color: #a01d21;
}

#tags .list-inline{
	margin-left: 0;
	padding: 10px 0;
}

#sponsored{
	margin-bottom: 20px;
	position:relative;
}

#sponsored .description{
	position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:20px; /* position will be on bottom */  
    left:15px;  
    width: 250px; 
    padding: 10px;
    background-color: #FFDB66; 
}

#sponsored .description .label{
	padding-left: 0;
}

.label-categoria{
	background-color: #fcb421;
	padding: 0 5px;
}

.video{
	background-color: #cdc8bf;
	margin-bottom: 15px;
}

.video .media-body{
	margin: 15px 0;
}

.mediateca{
	border-left: 10px solid #fecd46;
	padding-left: 15px;
}

#box-venezia,
#eventi-home,
#pubblicazioni-home,
#in-evidenza-home{
	background-color: #cdc8bf;
	margin-bottom: 20px;
}

#box-venezia{
	background:#cdc8bf url(img/venezia-12.png) center top no-repeat;
	height: 220px;
}


#box-venezia h2,
#pubblicazioni-home h2{
	margin-top: 170px;
}

#box-venezia mark,
#pubblicazioni-home mark{
	background-color: #fff;
}

#eventi-home,
#in-evidenza-home{
	padding-top: 10px;
}

#eventi-home ul{
	margin: 0;
	padding: 0;
}

#pubblicazioni-home{
	background:#cdc8bf url(img/decrescita-pubblicazione.png) center top no-repeat;
	height: 220px;
}

#ultime-notizie-home{
	padding: 0;
}

#ultime-notizie-home ul{
	padding-left: 12px;
}


#glossario a,
#persone a{
	cursor: pointer;
	border-bottom: 3px solid #FCB421;
}

#link > ul{
	margin: 0px;
	padding-left: 0px;
}

#link ul li > ul{
	padding-left: 10px;
}

footer{
	background-color: #ecedec;
}

footer .form-control {
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: transparent;
    height: 20px;
    border-bottom: 2px solid #999;
}

footer .input-group-sm > .form-control,
footer .input-group-sm > .input-group-addon,
footer .input-group-sm > .input-group-btn > .btn {
    border-radius: 0px;
    height: 24px;
}

footer button{
	margin-top: 15px;
	border: none;
	background-color: transparent;
	padding-left: 0px;
}

/*scaffolding*/

.placeholder{
	background-color: #fd8a25;
	height: 100px;
}

.placeholder-video{
	background-color: #fd8a25;
	height: 150px;
	width: 280px;
}

/**
* menu tools
*/

/*TODO: fix position on resizing window at @mediaquery px limit dimensions*/
#tools-menu .right {
	float: right;
}

#tools-menu ul {
	width:60px;
}
#tools-menu li {
	width:60px;
	height:60px;
	margin-bottom:0;
}
#tools-menu li a {
	width:60px;
	height:60px;
	background-color: #ffcf22;
	margin:0;
	padding:15px;
}

