/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
}

#page-container {
	background-color: #fff;
}

.placeholder {
	background-color: #e3e3e3;
	height: 100px;
}

/**
* menu tools
*/
#tools_menu li a {
	background-color: #ffcf22;
}