/* Text and fonts */
h3{
    margin-top: 5px;
}

p{
	font-family: Georgia,Serif;
	font-size: 100%;
}

#secondary-menu a:hover,
#secondary-menu a:active{
	color: #fff;
}

#tags{
	font-family: Georgia,Serif;
}

#tags h4{
	font-size: 100%;
	font-weight: bold;
}

#tags a.label{
	color: #000;
	font-size: 130%;
    font-weight: normal;
}

#tags a.label:hover,
#tags a.label:active{
	color: #fff;
}

#definition h2{
	color: #a01d21;
	font-weight: bold;
}

#definition h2 span{
	font-family: Georgia,Serif;
	color: #000;
	font-weight: normal;
}

#definition h2 span a{
	color: #000;
}

#secondary-menu ul li a{
	font-size: 120%;
	font-weight: bold;
	color: #000;

}

.label-categoria{
	font-size: 90%;
	font-weight: normal;
}

.author{
	color: #999;
	font-size: 85%;

}

.author span{
	font-weight: bold;
}

.video a{
	color: #000;
	text-decoration: none;
}

#box-venezia h2,
#pubblicazioni-home h2{
	font-size: 27px;
	font-weight: bold;
}

#eventi-home h3,
#in-evidenza-home h3,
#ultime-notizie-home h3{
	color: #a01d21;
	text-transform: uppercase;
	font-size: 130%;
}

#eventi-home h4 a{
	font-size: 130%;
	color: #a01d21;
	font-weight: bold;
	text-decoration: none;
}

#ultime-notizie-home ul li a{
	color: #000;
	text-decoration: none;
}

#glossario h4,
#persone h4,
#link h4{
	color: #a01d21;
	text-transform: uppercase;
}


