/* Text and fonts */
#secondary-menu a:hover,
#secondary-menu a:active{
	color: #fff;
}

#tags{
	font-family: Georgia,Serif;
}

#tags h4{
	font-size: 100%;
	font-weight: bold;
}

#tags a.label{
	color: #000;
	font-size: 100%;
}

#tags a.label:hover,
#tags a.label:active{
	color: #fff;
}

#definition h2{
	color: #a01d21;
	font-weight: bold;
}

#definition h2 span{
	font-family: Georgia,Serif;
	color: #000;
	font-weight: normal;
}

#definition h2 span a{
	color: #000;
}

#secondary-menu ul li a{
	font-size: 120%;
	font-weight: bold;
	color: #000;

}
