.comment-list {
  &:extend(.list-unstyled all);
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  &:extend(.form-group all);
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  &:extend(.form-control all);
}
.comment-form input[type="submit"] {
  &:extend(.btn all);
  &:extend(.btn-primary all);
}

//comments form
#commentform textarea{
	height: auto;
}

#commentform textarea:focus {
    outline: none !important;
    border:1px solid #999;
    box-shadow: 0 0 5px #999;
}

//comment list

#comments {
  
  h2{
    display: inline-block;
    padding: 10px;
    background-color: #f8f8f8;
  }

  ol.comment-list a{
    border-bottom: 1px solid #e3e3e3;
    color: #A01D21;
    font-family: "Cabin","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
  }

  ol.comment-list a:hover,
  ol.comment-lista:active{
    text-decoration: none;
    border-bottom: 1px solid #A01D21;
  }

  ol li{
    padding:10px 0px;
  }

  ol li .comment-content p{
    border: 1px solid #e3e3e3;
    padding: 20px 10px;
  }

  ol li .reply a{
    float: right;
  }

  ol li img.avatar{
    border-radius: 100px;
    -webkit-border-radius: 100px;  
    -moz-border-radius: 100px;
    margin: 0px 5px 0px 0px;
  }

  ol li .comment-author b{
    font-size: 1.2em;
    text-transform: uppercase;
  }

  #respond{
    clear: right;
  }

  .comment {

    .comment-body {
      margin:20px 0;
    }

    .comment-content p {
      margin-bottom:5px;
    }

    .comment-meta {
      position: relative;
      padding-right: 0;
      margin-bottom: 5px;
    }

    .comment-author {
        display: inline-block;
        vertical-align: bottom;
      }

    .comment-author .says {
      display: none;
      visibility: hidden;
    }

    .comment-metadata {
      display: inline-block;
      float:right;
    }

    .edit-link {
      margin-left:10px;
      text-transoform:none;
    }

    footer a {
      text-transform: none;
      font-weight: normal;
    }

  }

}



