.form-inline .form-control {
 	width: 100%;
 }

 .form-inline .label-container label {
 	font-weight: normal;
 	font-size: 18px;
    text-transform: uppercase;
 }

 #advanced-search-form {
 	background-color: #efefef;
 	padding-bottom: 30px;
 }