.home {

	#sponsored .description a{
		text-transform: uppercase;
		color: #000;
		font-weight: normal;
		font-size: 90%;
	}

	#sponsored .description a:hover, #sponsored .description a:visited, #sponsored .description a:active{
		text-decoration: underline;
	}

	#sponsored .description h4 a{
	    color: #000;
	    text-decoration: none;
	    text-transform:none;
	    font-weight: bold;
	    font-size: 100%;
	}

	#sponsored .description h4 a:hover, #sponsored .description h4 a:visited, #sponsored .description h4 a:active{
	    background-color: #fff;
	    text-decoration: none;
	}

	/* Main */

	article.in-evidenza-home h4 mark{
		background-color: #fff;
		position: absolute;
		bottom: 20px;
		left: 20px;
		font-weight: bold;
		line-height: 1.2em;
	}

	/*Video*/
	article.format-video .entry-content{
		width: 100%;
	}

	article.format-video .entry-content img{
		display: block;
		float: left;
		margin-right: 10px;
	}

	article.format-video footer{
		margin-top: 15px;
		clear: left;
	}

	/*Quote*/

	article.format-quote{
		border-left: 10px solid #fecd46;
		padding-left: 15px;
	}

	#in_evidenza_home article.format-quote{
		border-left: none;
		padding-left: 0px;
	}

	/* Prima sidebar Homepage*/
	#in_evidenza_home article img{
		margin:0;
	}

	#eventi-home{
		background-color: #cdc8bf;
		padding: 10px 15px;	
	}

	#eventi-home ul{
		margin: 0;
		padding: 0;
	}

	#eventi-home > h4{
		color: #a01d21;
		text-transform: uppercase;

	}

	#eventi-home ul li h4 a{
		color: #a01d21;
		font-weight: bold;
		text-decoration: none;
	}

	.in-evidenza-home{
		background-color: #cdc8bf;
		position: relative;
		padding: 10px 15px;	
		margin-top: 20px;
	}

	.in-evidenza-home h4 a{
		color: #a01d21;
		font-weight: bold;
	}

	.in-evidenza-home.has-post-thumbnail{
		padding: 0;
		margin: 0 auto;
		margin-top: 20px;
	}


	/* Seconda sidebar Homepage*/
	#glossario h4,
	#persone h4{
		color: #a01d21;
		text-transform: uppercase;
		font-weight: bold;
	}

	#persone p,
	#glossario p{
		font-size: 100%;
	}

	#glossario a,
	#persone a{
		cursor: pointer;
		border-bottom: 3px solid #FCB421;
		color: #000;
		text-decoration: none;
		font-size: 120%;
	}

	#persone p img{
		margin-top: 10px;
	}

}
