
/* Prima sidebar Homepage*/
#eventi-home{
	background-color: #cdc8bf;
	margin-bottom: 20px;
	padding: 10px 15px;	
}

#eventi-home ul{
	margin: 0;
	padding: 0;
}

#eventi-home > h4{
	color: #a01d21;
	text-transform: uppercase;
	font-size: 130%;

}

#eventi-home ul li h4 a{
	font-size: 130%;
	color: #a01d21;
	font-weight: bold;
	text-decoration: none;
}

.in-evidenza-home{
	background-color: #cdc8bf;
	position: relative;
	padding: 10px 15px;	
	margin-bottom: 20px;
}

article header .entry-title a{
	text-decoration: none;
	color: #000;
	
}

article h4 mark{
	background-color: #fff;
	position: absolute;
	top: 190px;
	left: 20px;
	font-weight: bold;
	line-height: 1.2em;
}

